@import 'syntax-variables';

.editor-colors {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

.editor {
  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;

    // TODO huh? how does this work?
    .cursor-line {
      background-color: @syntax-gutter-background-color-selected;
    }
  }

  .line-number.cursor-line-no-selection {
    background-color: @syntax-gutter-background-color-selected;
  }

  .invisible {
    color: darken(@syntax-comment-color, 50%);
  }

  .cursor {
    border-color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }

  .search-results .marker .region {
    background-color: transparent;
    border: 1px solid @syntax-result-marker-color;
  }

  .search-results .marker.current-result .region {
    border: 1px solid @syntax-result-marker-color-selected;
  }

  .gfm {
    .markup {
      &.heading {
        color: @syntax-markup-decoration-color;
        font-weight: bold;
      }

      &.underline {
        color: @syntax-markup-decoration-color;
        text-decoration: underline;
      }

      &.quote {
          color: darken(@syntax-markup-decoration-color, 20%);
      }
    }

    .bold {
      font-weight: bold;
    }

    .italic {
      font-style: italic;
    }

    // TODO what's this?
    .raw {
      color: #66D9EF;
    }

    .variable.list {
      color: #F92672;
      font-weight: bold;
    }

    .link {
      color: @syntax-markup-link-color;

      .entity {
        color: desaturate(@syntax-markup-link-color, 50%);
      }
    }
  }
}

.comment {
  color: @syntax-comment-color;
  font-style: italic;
}

.string {
  color: @syntax-string-color;
}

.constant.numeric {
  color: @syntax-number-color;
}

.constant.language {
  color: desaturate(@syntax-keyword-color, 10%);
}

.constant.character,
.constant.other {
  color: desaturate(darken(@syntax-number-color, 30%), 25%);
}

.constant.character.escape {
    //color: desaturate(darken(@syntax-escaped-color, 30%), 15%);
    background-color: lighten(@syntax-background-color, 15%);
}

.keyword {
  color: @syntax-keyword-color;
}

.storage {
  color: desaturate(darken(@syntax-keyword-color, 20%), 20%);
}

.storage.type {
  font-style: italic;
  color: desaturate(darken(@syntax-keyword-color, 20%), 20%);
}

.entity.name.class {
  text-decoration: underline;
  color: @syntax-class-color;
}

.entity.other.inherited-class {
  font-style: italic;
  text-decoration: underline;
  color: @syntax-class-color;
}

.entity.name.function {
  color: @syntax-function-color;
}

.entity.name.instance {
  color: desaturate(@syntax-function-color, 30%);
}

.variable.parameter {
  font-style: italic;
  color: desaturate(@syntax-variable-color, 20%);
}

.entity.name.tag {
  color: darken(@syntax-keyword-color, 20%);
}

.entity.other.attribute-name {
  //color: @syntax-variable-color;
  color: @tron-orange-glow
}

.support.function {
  color: @syntax-function-color;
}

.support.constant {
  color: desaturate(@syntax-string-color, 20%);
}

.support.type,
.support.class {
  font-style: italic;
  color: @syntax-variable-color;
}

.invalid {
  color: @tron-metal;
  background-color: @tron-red-glow;
}

.invalid.deprecated {
  color: @tron-metal;
  background-color: desaturate(@tron-red-glow, 20%);
}

// Jade syntax
.class.jade {
  color: #AE81FF;
}
